<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>


    <!-- bean definitions here -->
    <bean id="actor" class="com.stackroute.Actor">
        <constructor-arg name="name" value="Prabhas"></constructor-arg>
        <constructor-arg name="gender" value="Male"></constructor-arg>
        <constructor-arg name="age" value="32"></constructor-arg>
    </bean>
    <bean id="actor1" class="com.stackroute.Actor">
        <constructor-arg name="name" value="Shobha"></constructor-arg>
        <constructor-arg name="gender" value="Female"></constructor-arg>
        <constructor-arg name="age" value="25"></constructor-arg>
    </bean>
    <bean id="actor2" class="com.stackroute.Actor">
        <constructor-arg name="name" value="Zaira"></constructor-arg>
        <constructor-arg name="gender" value="Female"></constructor-arg>
        <constructor-arg name="age" value="15"></constructor-arg>
    </bean>
    <bean id="movie1" class="com.stackroute.Movie" autowire="byName">
    </bean>
    <bean id="movie2" class="com.stackroute.Movie">
        <constructor-arg name="actor" ref="actor2"></constructor-arg>
    </bean>
    <bean id="lifecycledemo" class="com.stackroute.demo.BeanLifecycleDemoBean"
          init-method="customInit" destroy-method="customDestroy">
    </bean>
</beans>
